<a href="https://colab.research.google.com/github/jebunnaharjuthy/Python-Django-/blob/main/Python_Var_DtaTyp_Num.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basic Variable, DataType, Number
**Reference: https://www.w3schools.com/**

**Variables**

Variables are containers for storing data values.

**Creating Variables**

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Casting :**
If you want to specify the data type of a variable, this can be done with casting.

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

**Get the Type**

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**
String variables can be declared either by using single or double quotes:

In [5]:
x = "John"
# is the same as
x = 'John'

In [7]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a

# Python - Variable Names
**Variable Names**

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [8]:
#Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [9]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-9-505d442e4979>, line 3)

**Multi Words Variable Names**

* Variable names with more than one word can be difficult to read.
* There are several techniques you can use to make them more readable:
* **Camel Case**

* Each word, except the first, starts with a capital letter:

In [12]:
myVariableName = "John"

**Pascal Case**

Each word starts with a capital letter:

In [11]:
MyVariableName = "John"

**Snake Case**

Each word is separated by an underscore character:

In [10]:
my_variable_name = "John"

# Assign Multiple Values
**Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:
**Note:** Make sure the number of variables matches the number of values, or else you will get an error.

In [13]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

In [14]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

#Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [16]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
print(fruits)

apple
banana
cherry
['apple', 'banana', 'cherry']

# Unpack Tuples
**Note:** The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

# Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [17]:
# Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [19]:
#Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red, white) = fruits

print(green)
print(tropic)
print(red)
print(white)

apple
['mango', 'papaya']
pineapple
cherry

# Output Variables

In [20]:
x = "Python is awesome"
print(x)

Python is awesome

In [21]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator:

In [22]:
x = 5
y = 10
print(x + y)

15

**Inthe print() function, when you try to combine a string and a number with the + operator, Python will give you an error:**

In [23]:
#Example
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [24]:
x = 5
y = "John"
print(x, y)

5 John

# Global Variables
Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [25]:
#Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [26]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [27]:
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

Example
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [28]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Python Data Types

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* **Text Type:**	str
* **Numeric Types:**	int, float, complex
* **Sequence Types:**	list, tuple, range
* **Mapping Type:**	dict
* **Set Types:**	set, frozenset
* **Boolean Type:**	bool
* **Binary Types:**	bytes, bytearray, memoryview
* **None Type:**	NoneType

In [29]:
#Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [35]:
x = "Hello World"	#str
print(type(x))
x = 20	#int
print(type(x))
x = 20.5	#float
print(type(x))
x = 1j	#complex
print(type(x))
x = ["apple", "banana", "cherry"]	#list
print(type(x))
x = ("apple", "banana", "cherry")	#tuple
print(type(x))
x = range(6)	#range
print(type(x))
x = {"name" : "John", "age" : 36}	#dict
print(type(x))
x = {"apple", "banana", "cherry"}	#set
print(type(x))
x = frozenset({"apple", "banana", "cherry"})	#frozenset
print(type(x))
x = True	#bool
print(type(x))
x = b"Hello"	#bytes
print(type(x))
x = bytearray(5)	#bytearray
print(type(x))
x = memoryview(bytes(5))	#memoryview
print(type(x))
x = None	#NoneType
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [36]:
x = str("Hello World")

# Python Numbers
There are three numeric types in Python:

* int
* float
* complex
Variables of numeric types are created when you assign a value to them:

In [37]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [38]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [39]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [40]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [41]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [42]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>