<a href="https://colab.research.google.com/github/jebunnaharjuthy/Python-Django-/blob/main/Python_Var_DtaTyp_Num.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables**
Variables are containers for storing data values.

**Creating Variables**
Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Casting :**
If you want to specify the data type of a variable, this can be done with casting.

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

**Get the Type**

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**
String variables can be declared either by using single or double quotes:

In [5]:
x = "John"
# is the same as
x = 'John'

In [7]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a

# Python - Variable Names
**Variable Names**

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [8]:
#Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [9]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-9-505d442e4979>, line 3)

**Multi Words Variable Names**

* Variable names with more than one word can be difficult to read.
* There are several techniques you can use to make them more readable:
* **Camel Case**

* Each word, except the first, starts with a capital letter:

In [12]:
myVariableName = "John"

**Pascal Case**

Each word starts with a capital letter:

In [11]:
MyVariableName = "John"

**Snake Case**

Each word is separated by an underscore character:

In [10]:
my_variable_name = "John"